@page "/"
@attribute [Authorize]
@inject IPostService postService
<div>
    @if (postData.Count > 0)
    {
        @foreach(PostDto post in postData )
        {
            <Post PostItem="post" />
        }
    }

</div>

@code {
    private bool isLoading = true;
    private string role { get; set; }
    private bool authenticated { get; set; }
    [CascadingParameter]
    public Task<AuthenticationState> _authState { get; set; }
    public List<PostDto> postData;


    protected override async Task OnInitializedAsync()
    {
        isLoading = false;
        var authState = await _authState;
        Console.WriteLine("authstate index");
        Console.WriteLine(authState);
        role = authState.User?.FindFirst("sub")?.Value;
        Console.WriteLine(role);
        authenticated = authState.User?.Identity?.IsAuthenticated ?? false;
        postData = await postService.GetPostsAsync();
    }
}
