/* Profile Container */
.profile-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Profile Header */
.profile-header {
    display: flex;
    align-items: center;
    
}
.post-border{
    width: 100%;
    border: 1px solid gray;
    margin: 1rem 0 ;
}

.post-header{
    display: flex;
    margin: 1rem 0 .5rem 0;
}
.profile-avatar img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1;
}

.follow-button,
.tweet-button,
.edit-button,
.delete-button {
    background-color: #1da1f2;
    color: #fff;
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Profile Content */
.profile-content {
    margin-top: 20px;
}

.post {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

.post img.post-image {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.user-icons {
    display: flex;
    align-items: center;
}

.user-icons svg {
    margin-right: 5px;
    fill: #1da1f2;
}
.post-header img{
    width: 30px;
    height: 30px;
    border-radius: 100%;


}
.post-header{
    display: flex;
    justify-content: space-between;
}

.post-usr-profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-usr-profile h2{
    margin: 0 .5rem;
    text-align: center;
}